# Languages
/resources/lang/*.json

# Build files
/public/build/*
/public/hot

# Environment Variables
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
docker-compose.override.yml

# temp folders
tmp/
temp/

# dependencies
/vendor
node_modules
/.pnp
.pnp.js

# testing
/coverage

# MacOS files
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cache
.eslintcache

backups-config.json

!.gitkeep
