/node_modules
/public/**/*.css
/public/**/*.js
/public/hot
/public/storage
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# temp folders
tmp/
temp/

# dependencies
node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
build

# local config files
.idea/

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# cache
.eslintcache
/public/mix-manifest.json
