@use "variables" as *;
@use "mixins" as *;

body {
    background-size: 100%;
    background: black radial-gradient(circle at bottom left, $bg-secondary 0%, $bg-primary 100%) no-repeat;
    color: $text;
}

#app {
    // font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    //     "Droid Sans", "Helvetica Neue", sans-serif;
    /* font-family: Avenir, Helvetica, Arial, sans-serif; */
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Comfortaa", cursive;
}

h1 {
    @include addHeader(1);
}

h2 {
    @include addHeader(0.85);
}

h3 {
    @include addHeader(0.7);
}

h4 {
    @include addHeader(0.6);
}

h5 {
    @include addHeader(0.5);
}

a {
    color: $text;
    text-decoration: underline;
}

textarea,
input {
    color: $secondary;
}

ul li:before {
    content: "\2713";
    color: $text;
    padding-right:5px;
}
