// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// Vars
$primary: #7696f5;
$secondary: #615fde;
$info: $teal;
$links: #5fa0de;
$attention: #956cfa;
$background: #99b1fa;
$bg-primary: rgba(50, 22, 107);
$bg-secondary: rgba(46, 187, 197);
$blur: rgba(255, 255, 255, 0.15);
$text: white;


// Body
// $body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: 'Nunito', sans-serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;

