<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="PhpBuiltInWebServerConfigurationType" factoryName="PHP Built-in Web Server" activateToolWindowBeforeRun="false" document_root="$PROJECT_DIR$/public" host="127.0.0.1">
    <method v="2" />
  </configuration>
</component>